@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --color-primario: #c22627;
    --color-secundario: #A9A7A5;
    --color-terciario: #000;
    --color-logo: #7b7c7e
    --tamanio-fuente: 16px;
}

*{
    font-family: "Lato", sans-serif;
    
}

body{
    margin: 10px;
}
.section-header{
    margin-bottom: 20px;
}
.whatsapp-link {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    background-color: #25d366; 
    color: #fff; 
    width: 60px; 
    height: 60px;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px; 
    z-index: 1000; 
}
.whatsapp-link{
    text-decoration: none;
}
.whatsapp-link:hover {
    background-color: #128c7e;
}
/*navbar*/
.navbar{
    background-color: #fff;
}
.navbar-nav a{
    font-size: 17px;
    font-weight: 700;
    color: var(--color-logo);
    text-transform: uppercase;
    letter-spacing: 1px;
}
.navbar-brand{
    height: 50px;
    width: 50px;
}
.navbar-brand img {
    max-height: 100%;
}
.section-padding{
    padding: 65px;
}
.navbar-toggler{
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background-color: #f6f0f0;
}
/* Carousel */
.carousel{
    height: 100vh;
    width: 100%;
    background-image: url('http://imgfz.com/i/KSQ83rs.png');
    background-size: cover;
    background-position: center;
}
.carousel-item{
    height: 100vh;
    margin-top: 80px;
}
.carousel-caption{
    bottom: 220px;
    z-index: 2;
    left: 15%;
    margin-top: 100px;
    width: 60%;
}
.carousel-caption h5{
    font-size: 50px;
    margin-top: 25px;
    color: var(--color-secundario);
    font-weight: 900;
    text-align: start;
}
.carousel-caption h5 span{
    color: var(--color-primario);
}
.carousel-caption p{
    font-size: 25px;
    line-height: 1.8;
    color: #fff;
    text-align: start;
}
.carousel-caption a{
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--color-primario);
    padding: 5px 20px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
    border-radius: 5px;
    text-align: start;
}
/* Services */
.services .container{
    width: 100%;
 }
 .services .container .row{
     margin-bottom: 10px;
 }
 .section-header h2{
     font-size: 45px;
     color: var(--color-secundario);
     font-weight: 700;
     text-align: center;
 }
 .section-header h2 span{
     color: var(--color-primario);
 }
 /* AGREGAR MARGIN BOTTOM EN MOBILE*/
 .single-services{
     background-color: var(--color-primario);
     color: #f0eedf;
     padding: 30px 15px;
     text-align: center;
     height: 200px;
 }
 .single-services i{
     padding: 20px 0;
     font-size: 40px;
 }
 .single-services h5{
     font-size: 20px;
     color: #f0eedf;
     
     text-transform: uppercase;
     letter-spacing: 1px;
 
     font-family: "Antonio", sans-serif;
     font-weight: 500;
 }

 /* Why us */
.choose{
    margin-bottom: 70px;
}
.choose-img img{
    width: 100%;
}
.single-box{
    padding: 20px;
}
.single-box i{
    font-size: 35px;
    margin-bottom: 25px;
    color: var(--color-logo);
}
.single-box h2{
    color: var(--color-logo);

    font-size: 20px;    
    text-transform: uppercase;
    letter-spacing: 1px;

    font-family: "Antonio", sans-serif;
    font-weight: 700;
}

/* Nos eligen */
.slider-container {
    height: 250px;
}
.shadow-lg {
    box-shadow: none !important;
}

.slider-nav{
    filter: none;
}